{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container ">


<form action="/waiters/" method="get">


  <div class="d-flex justify-content-center">
            <div class="navbar navbar-expand-lg navbar-light bg-dark ">

                <h1 class="text-primary">Bob the Builder's Cafe</h1>
            </div>
        </div>
        <div class="row">
        <a href="/"><i class="col-3 fas fa-home fa-2x"></i></a>
        <div class='col-7 text-info'>
           <h4>Enter your name into the URL. Eg. /waiters/ammaar</h4> 
        </div>
        </div>
  


</form>

         --}}

    
    </div>

   
</body>

</html>