<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{{!-- <style>a{color: white;}
    a:hover{color: black
    ;}
</style> --}}
</head>

<body>

 <h2><ul><a  href="/waiters/" class="text-dark"><button class="btn btn-light">Employee</button></a></ul></h2>
<h2> <ul><a href="/days" class="text-dark"><button class="btn btn-light">Admin</button></a></ul></h2>


</body>

</html>