<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title></title>
</head>

<body>
    <div class="col d-flex justify-content-center">
        <h1>Waiter Availability</h1>
    </div>
    <div class="col d-flex justify-content-center p-4">
   <label for="waiterName">Name: <input type="text" name="waiterName"> </label>
    </div>
    <div class="col d-flex justify-content-center">
        <label for="mon" class="px-3">Monday<input type="checkbox" name="" id="" ></label>
        <label for="tue" class="px-3">Tuesday<input type="checkbox" name="" id="" class=""></label>
        <label for="wed" class="px-3">Wednesday<input type="checkbox" name="" id="" class=""></label>
        <label for="thurs"class="px-3">Thursday<input type="checkbox" name="" id="" class=""></label>
        <label for="fri"class="px-3">Friday<input type="checkbox" name="" id="" class=""></label>
    </div>
    <div>
    <div class="col d-flex justify-content-center">
        <input type="submit" class="btn btn-dark" value="Add shift">
           </div>
        <div class="col d-flex justify-content-center">
        <input type="submit" class="" value="Update shift">
</div>
    </div>
</body>

</html>