<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div class=" d-flex justify-content-center">
		<a href="/"> <button>Home</button></a>

	</div>
	<div class="mt-5 pr-4">
		<form action="/days" method="get">

			<table class="">

				<tr>
					{{#each days}}
					<th>

						{{this.dayname}}

					</th>
					{{/each}}
				</tr>
				<tr>
					{{#each days}}

					<td>
						<ul>{{#each waiters}}
							<li>{{this.name}}</li>
						
						{{/each}}
						</ul>
					</td>

					{{/each}}
				</tr>
			</table>
			{{!-- <table> --}}

			{{!-- {{#each waiter}}
			<li>{{this.names}}</li>
			{{/each}} --}}
			{{!-- {{#each day}}
			<li>{{this.weekday}}</li>
			{{/each}} --}}

		</form>
	</div>
	{{!-- </table> --}}
</body>

</html>