/* .container{background-color: red;} */
.green{
background-color: green
;}
.red{

background-color: red;}
.orange{

background-color: orange;}
 input[type="submit"]{
  width: auto;
}
input[type='text']{
  width: 10em;
}
